<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <title>Error Page</title>
    <meta th:replace="fragments/header"/>
</head>
<body>
<div class="container-fluid">
    <p class="fs-4">Something went wrong!</p>
    <div class="row">
        <div class="btn-group">
            <div class="col-xs-6">
                <a class="btn btn-secondary btn-block" href="/portal" role="button">Back to the Invoice Portal</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>